flask
Flask-WTF
flask-socketio
paramiko
SQLAlchemy
flask-sqlalchemy
flask-migrate
python-dotenv
flask-login 
flask-bcrypt
Flask-Session
werkzeug
requests
identity
msal
aiohttp==3.9.1
fastapi==0.99.1
Jinja2==3.1.2
flask_cors
psycopg2-binary
Flask-SQLAlchemy 
Flask-Migrate
SQLAlchemy 
openai==0.28
cryptography