{% extends "base.html" %}

{% block title %}Edit Inventory{% endblock %}

{% block content %}
<div class="max-w-6xl mx-auto px-4">
    <h1 class="text-2xl font-semibold text-gray-700">Edit Inventory</h1>
    <form action="{{ url_for('edit_inventory') }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <textarea name="content" rows="20" cols="80" class="w-full px-3 py-2 text-gray-700 border rounded-lg focus:outline-none" style="height: 300px;">{{ content }}</textarea>
        <br>
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Save
        </button>
    </form>
</div>
{% endblock %}