{% extends "base.html" %}

{% block title %}Playbooks{% endblock %}

{% block content %}
<div class="max-w-6xl mx-auto px-4 py-4">
    <div class="flex items-center justify-between mb-4">
        <div class="flex items-center">
            <img src="{{ url_for('static', filename='playbooks.png') }}" alt="Logo" class="h-12 w-auto mr-2">
            <h1 class="text-2xl font-semibold text-gray-700">
                Playbooks
            </h1>
        </div>
        <form action="{{ url_for('create_playbook') }}">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Create Playbook
            </button>
        </form>
    </div>

    <div id="running-info" class="hidden">
        <h2 id="running-playbook-name" class="text-lg font-bold text-gray-700"></h2>
        <div id="running-timer" class="text-sm font-semibold text-red-500"></div>
    </div>

    <div class="mb-4">
        <form method="GET" action="{{ url_for('playbooks') }}" class="flex items-center">
            <input 
                type="text" 
                name="search" 
                placeholder="Search playbooks..." 
                value="{{ request.args.get('search', '') }}" 
                class="py-2 px-4 border border-gray-300 rounded-lg mr-2">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Search
            </button>
            <button 
                type="button" 
                class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded"
                onclick="window.location.href='{{ url_for('playbooks') }}'">
                Clear
            </button>
        </form>
    </div>

    <table class="min-w-full table-auto">
        <thead class="bg-gray-200">
            <tr>
                <th class="px-4 py-2 text-left">Playbook Name</th>
                <th class="px-4 py-2 text-left">Sudo</th>
                <th class="px-4 py-2 text-left">Actions</th>
                <th class="px-4 py-2 text-left">Author</th>
                <th class="px-4 py-2 text-left">Results</th>
            </tr>
        </thead>
        <tbody>
            {% for playbook in playbooks %}
            <tr class="border-b">
                <td class="px-4 py-2">{{ playbook.name | truncate(18) }}</td>
                <td class="px-4 py-2">
                    {% if playbook.sudo_required %}
                        <span class="text-green-500">&#x2714;</span> <!-- Green checkmark -->
                    {% endif %}
                </td>
                <td class="px-4 py-2">
                    <button onclick="executePlaybook('{{ playbook.name }}', {{ 'true' if playbook.sudo_required else 'false' }});"
                        class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-3 rounded">
                        Execute
                    </button>
                    <a href="{{ url_for('edit_playbook', playbook_name=playbook.name) }}"
                        class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-1 px-3 rounded inline-block ml-2">
                        Edit
                    </a>
                    <button onclick="deletePlaybook('{{ playbook.name }}')"
                        class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-3 rounded">
                        Delete
                    </button>
                </td>
                <td class="px-4 py-2">{{ playbook.author | truncate(15) }}</td> <!-- Author column -->
                <td class="px-4 py-2">
                    {% if playbook.results.count() > 0 %}
                        <a href="{{ url_for('view_playbook_results', playbook_id=playbook.id) }}"
                            class="text-blue-500 hover:text-blue-700">
                            View Results
                        </a>
                    {% else %}
                        <span>No results, please run playbook.</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- Add this to your scripts.html inside the block content -->
<div id="terminal"
    style="display: none; background: black; color: white; padding: 10px; overflow: auto; height: 300px;"></div>
<!-- Add this to the bottom of your scripts.html inside the block content -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
<script type="text/javascript">
    var startTime, interval;
    var socket = io.connect('https://' + document.domain + ':' + location.port);

    function executePlaybook(playbookName, sudoRequired) {
        var passphrase = prompt('Please enter the passphrase to execute the playbook:');
        if (passphrase) {
            // Show playbook name
            document.getElementById('running-playbook-name').textContent = `Running: ${playbookName}`;
            document.getElementById('running-info').classList.remove('hidden');

            startTime = Date.now();
            interval = setInterval(function() {
                var seconds = Math.floor((Date.now() - startTime) / 1000);
                document.getElementById('running-timer').textContent = `${seconds} seconds running`;
            }, 1000);

            var sudoPassword = '';
            if (sudoRequired) {
                sudoPassword = prompt('Please enter the sudo password:');
            }
            var spinner = document.getElementById('loading-spinner');
            if (spinner) {
                spinner.classList.remove('hidden');  // Show the spinner
            }
            socket.emit('execute_playbook', {
                'playbook_name': playbookName,
                'passphrase': passphrase,
                'sudo_password': sudoPassword  // Send the sudo password to the server
            });
        }
    }

    socket.on('redirect', function(data) {
        clearInterval(interval);
        var spinner = document.getElementById('loading-spinner');
        spinner.classList.add('hidden');  // Hide the spinner on redirect
        document.getElementById('running-info').classList.add('hidden');
        window.location.href = data.url;
    });

    socket.on('playbook_error', function(data) {
        clearInterval(interval);
        var spinner = document.getElementById('loading-spinner');
        spinner.classList.add('hidden');  // Hide the spinner on error
        document.getElementById('running-info').classList.add('hidden');
        alert(data.error);  // Alert the user
    });

    // Remove the playbook_output and playbook_ended event handlers

    function deletePlaybook(playbookName) {
        var passphrase = prompt('Please enter the passphrase to delete the playbook:');
        if (passphrase != null) {
            var form = document.createElement('form');
            form.method = 'POST';
            form.action = '{{ url_for('delete_playbook') }}';

            // CSRF token input
            var csrfInput = document.createElement('input');
            csrfInput.type = 'hidden';
            csrfInput.name = 'csrf_token';
            csrfInput.value = '{{ csrf_token() }}';
            form.appendChild(csrfInput);

            var playbookInput = document.createElement('input');
            playbookInput.type = 'hidden';
            playbookInput.name = 'playbook_name';
            playbookInput.value = playbookName;
            form.appendChild(playbookInput);

            var passphraseInput = document.createElement('input');
            passphraseInput.type = 'hidden';
            passphraseInput.name = 'passphrase';
            passphraseInput.value = passphrase;
            form.appendChild(passphraseInput);

            document.body.appendChild(form);
            form.submit();
        }
    }
</script>
{% endblock %}