{% extends "base.html" %}

{% block title %}Servers{% endblock %}

{% block content %}
<div class="max-w-6xl mx-auto px-4">
    <!-- Header with Servers and buttons on the same line -->
    <div class="flex justify-between items-center mb-4">
        <div class="flex items-center">
            <img src="{{ url_for('static', filename='servers2.jpg') }}" alt="Logo" class="h-12 w-auto mr-2">
            <h1 class="text-2xl font-semibold text-gray-700">
                Servers
            </h1>
        </div>
        
        <!-- Button links -->
        <div>
            <a href="{{ url_for('upgradable_packages') }}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mr-2">
                Upgradable Packages
            </a>
            <a href="{{ url_for('edit_inventory') }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2">
                Edit Inventory
            </a>
            <!-- <a href="{{ url_for('upload_inventory') }}" class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded">
                Upload Inventory
            </a> -->
        </div>
    </div>
    
    <!-- Server groups and counts in a table -->
    <table class="min-w-full table-auto">
        <thead class="bg-gray-200">
            <tr>
                <th class="px-4 py-2 text-left">Group</th>
                <th class="px-4 py-2 text-left">Hosts</th>
            </tr>
        </thead>
        <tbody>
            {% for group, count in server_groups.items() %}
            <tr class="border-b">
                <td class="px-4 py-2">{{ group }}</td>
                <td class="px-4 py-2">{{ count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}